<a href="https://colab.research.google.com/github/msaltan/DataBootcamp2025/blob/main/jupyOracle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install oracledb

Collecting oracledb
  Downloading oracledb-2.5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl.metadata (5.5 kB)
Requirement already satisfied: cryptography>=3.2.1 in /usr/local/lib/python3.10/dist-packages (from oracledb) (43.0.3)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=3.2.1->oracledb) (1.17.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=3.2.1->oracledb) (2.22)
Downloading oracledb-2.5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl (2.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 13.5 MB/s eta 0:00:00
Installing collected packages: oracledb
Successfully installed oracledb-2.5.1

In [2]:

!pip install jupysql

Collecting jupysql
  Downloading jupysql-0.10.17-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: prettytable>=3.12.0 in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.12.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql) (2.0.36)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.1.5)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.10/dist-packages (from jupysql) (25.1.0)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.26-py3-none-any.whl.metadata (527 bytes)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.7.5-py2.py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable>=3.12.0->jupysql) (0.2.13)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql) (3.0.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (3.1.1)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.17.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.12.14)
Downloading jupysql-0.10.17-py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.2/95.2 kB 3.7 MB/s eta 0:00:00
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 7.7 MB/s eta 0:00:00
Downloading ploomber_core-0.2.26-py3-none-any.whl (22 kB)
Downloading posthog-3.7.5-py2.py3-none-any.whl (54 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.9/54.9 kB 3.7 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Installing collected packages: monotonic, backoff, posthog, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 jupysql-0.10.17 jupysql-plugin-0.4.5 monotonic-1.6 ploomber-core-0.2.26 posthog-3.7.5

In [3]:
import oracledb

In [5]:
%load_ext sql

%sql oracle+oracledb://C##_HR:hr2024@130.61.17.210:1521?service_name=FREE

Connecting to 'oracle+oracledb://C%23%23_HR:***@130.61.17.210:1521?service_name=FREE'

In [6]:
%sql select * from dual

Running query in 'oracle+oracledb://C%23%23_HR:***@130.61.17.210:1521?service_name=FREE'

+-------+
| dummy |
+-------+
|   X   |
+-------+

In [8]:
%sqlcmd tables

+-------------+
|     Name    |
+-------------+
|  countries  |
|  carmodels  |
| departments |
|  employees  |
|     jobs    |
| job_history |
|  locations  |
|   regions   |
+-------------+

In [9]:
%sql select * from countries

Running query in 'oracle+oracledb://C%23%23_HR:***@130.61.17.210:1521?service_name=FREE'

+------------+--------------+-----------+
| country_id | country_name | region_id |
+------------+--------------+-----------+
|     AR     |  Argentina   |     20    |
|     AU     |  Australia   |     40    |
|     BE     |   Belgium    |     10    |
|     BR     |    Brazil    |     20    |
|     CA     |    Canada    |     20    |
|     CH     | Switzerland  |     10    |
|     CN     |    China     |     30    |
|     DE     |   Germany    |     10    |
|     DK     |   Denmark    |     10    |
|     EG     |    Egypt     |     50    |
+------------+--------------+-----------+
Truncated to displaylimit of 10.

In [10]:
%sqlcmd columns -t countries

+--------------+-------------+----------+---------+--------------------------------------------------------------------------------------+
|     name     |     type    | nullable | default |                                       comment                                        |
+--------------+-------------+----------+---------+--------------------------------------------------------------------------------------+
|  country_id  |   CHAR(2)   |  False   |   None  |                           Primary key of countries table.                            |
| country_name | VARCHAR(60) |   True   |   None  |                                     Country name                                     |
|  region_id   |    NUMBER   |   True   |   None  | Region ID for the country. Foreign key to region_id column in the departments table. |
+--------------+-------------+----------+---------+--------------------------------------------------------------------------------------+